.interest-label {
  font-weight: bold;
}

.interest-list-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.interest-container {
  margin-top: 50px;
}

.interest-row {
  margin-top: 20px;
}

.interest-badge {
  border-radius: 0;
}

.interest-column {
  padding-left: 0;
  padding-right: 20px;
}