.ni-nav-link {
  color: #FFFFFF;
  margin-left: 50px;
  margin-right: 50px;
}

.user-link {
  font-weight: bold;
}

.nav-logo {
  height: 45px;
  width: 136px;
}

.nav-logo-container {
  background-color: #5C6F7D;
  padding: 16px;
}

.nav-separator {
  color: #FFFFFF;
}

.nav-active {
  border-bottom: 5px solid #ec8643;
}

.nav-image-left {
  margin-top: -10px;
  margin-bottom: -8px;
  margin-left: -15px;
}
