.skill-card-title {
  color: #ec8643;
  font-weight: 700;
}

.skill-label {
  font-weight: bold;
}

.skill-card-body {
  width: 335px;
  height: 220px;
}

.skill-card {
  background-color: #f4f9fd;
  border: none;
}

.skill-card-row {
  margin-top: 10px;
}

.skill-card-container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.skill-list-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skill-card-border {
  border: 10px solid white;
  border-radius: 0;

  &:hover {
    border: 10px solid #ec8643;
  }
}

.skill-container {
  margin-top: 50px;
}

.skill-row {
  margin-top: 20px;
}

.skill-badge {
  border-radius: 0;
}

.skill-card-badge {
  border-radius: 0;
}

.skill-list-column {
  margin-right: 10px;
}

.skill-list-card {
  padding-right: 20px;
  margin-top: 20px;
}

.skill-value {
  padding-left: 0;
}