.skill-card-row {
  margin-top: 10px;
}

.skill-list-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skill-container {
  margin-top: 50px;
}

.skill-list-column {
  margin-right: 10px;
}

.skill-list-card {
  padding-right: 20px;
  margin-top: 20px;
}

.skill-value {
  padding-left: 0;
}

.skill-row {
  margin-top: 20px;
}

.skill-badge {
  border-radius: 0;
}